/* ComicGenerator.css */

.comic-app {
  background: linear-gradient(to top, #190482, #7752fe, #8e8ffa, #c2d9ff);
}

.comic-generator {
  text-align: center;
  padding: 50px;
}

.header-text {
  text-align: center;
  font-size: 4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background: linear-gradient(to right, #0e21a0, #4d2db7, #9d44c0, #ec53b0);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.panel-container {
  border: 2px solid #000;
  background-color: #f0f0f0; /* Light gray background color */
  padding: 10px;
  margin-top: 20px;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.panel-container img {
  display: block; /* Ensure images are displayed as block elements */
  margin-left: auto;
  margin-right: auto;
}

.strip-container {
  border: 3.5px solid #000; /* Black border color for strip container */
  background-color: #f9f9f9; /* Off-white background color */
  padding: 10px;
  margin-top: 20px;
  max-width: 800px;
  /* height: 150px; */
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  flex-wrap: wrap;
}

.strip-container img {
  display: inline-block; /* Display images as inline-block elements */
  /* margin: 5px; */
  padding: 5px;
  width: 140px; /* Set a fixed width for strip images */
  height: 140px; /* Set a fixed height for strip images */
  border: 2.5px solid #000;
}

.generate-button,
.clear-panel-button,
.add-panel-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: '20px';
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  /* Gradient background */
  background: linear-gradient(to bottom, #12486b, #419197);
  /* Box shadow */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 190px; 
  height: 50px;  */
}

/* Generate button styles */
.generate-button {
  border: 2px solid #12486b; /* Dark Blue color */
  color: #ffffff; /* White text */
  width: 260px; /* Set a specific width */
  height: 45px;
}

.generate-button:hover {
  background: linear-gradient(
    to bottom,
    #419197,
    #78d6c6
  ); /* Gradient on hover */
  color: #12486b; /* Dark Blue text on hover */
}

/* Clear Panel button styles */
.clear-panel-button {
  border: 2px solid #419197; /* Teal color */
  color: hsl(51, 96%, 51%); /* White text */
  width: 190px; /* Set a specific width */
  height: 50px;
}

.clear-panel-button:hover {
  background: linear-gradient(
    to bottom,
    #78d6c6,
    #ffffff
  ); /* Gradient on hover */
  color: #419197; /* Teal text on hover */
}

/* Add Panel to Comic Strip button styles */
.add-panel-button {
  border: 2px solid #78d6c6; /* Light Blue color */
  color: #070606; /* White text */
  width: 300px; /* Set a specific width */
  height: 60px;
}

.add-panel-button:hover {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #12486b
  ); /* Gradient on hover */
  color: #78d6c6; /* Light Blue text on hover */
}
